<% provide(:title, "About") %>
<html>

	<body style="background:grey">
		<h1 align=center style="color:red">About Page</h1>
			<p><strong> I am but a young boy who aspires to be the best there ever was... at web development i mean. </strong></p>
			<p><strong> In all seriousness this is just a page to tell you that I'm really just a kid trying to become great at developing and deploying dynamic web pages		</strong></p>
			<p><strong> The current sites on this development environment include: /static_pages/about, /static_pages/home, and /static_pages/home </strong></p>
			<p><strong> You may find the repository for this web application at github.com/sherbert206/app1 </strong></p>
			<p> <h1> ENJOY! B) </h1> </p>
		
	</body>
</html>