<% provide(:title, "About") %>
<html>

  <body>
    <h1 align=center>
      About Page
    </h1>
    <p>
      I am but a young boy who aspires to be the best there ever was... at web development i mean.
    </p>
    <p>
      In all seriousness this is just a page to tell you that I'm really just a kid trying to become great at developing and deploying dynamic web pages
    </p>

    <p>
      The current sites on this development environment include: /static_pages/about, /static_pages/home, and /static_pages/home
    </p>
    <p>
      You may find the repository for this web application at
      <a href="http://www.github.com/sherbert206/app1">
        Github
      </a>
    </p>
    <h1>
      ENJOY! B)
    </h1>
  </p>

</body>
</html>
