<DOCTYPE! HTML>

<body style="background:grey">
		<h1 align=center style="color:red;">Help page of the BEST Application ever my dude</h1>
			<strong>This is the home of the great Gabriel and his ruby on rails creations B)</strong>
			<p>
				<strong>If you have any questions of this wep page, you may leave a concern or question at gflores2062011@gmail.com </strong>
			</p>
</body>