<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %> | Best App Ever</title>
	</head>
	<body style="background:grey">
			<h1 align=center style="color:red;">BEST Web Application ever my dude</h1>
			<p>
				<strong>This is the home of the great Gabriel and his ruby on rails creations B)</strong>
			</p>
	</body>
</html>