<!DOCTYPE html>
<html>
  <body>

    <div class="center jumbotron">
      <h1>
        Welcome to the best app EVER B)
      </h1>

      <p>
        <strong>This is the home of the great Gabriel and his ruby on rails creations B)</strong>
      </p>

      <%= link_to "Sign up now pls", '#', class: "btn btn-lg btn-primary" %>
    </div>

    <%= link_to image_tag("stddogegif.gif", alt: "STD Gif"), 'http://rubyonrails.org/' %>

  </body>

</html>
